.uploadImgInput {
    display: none;
}

#uploadImgInputRefWrapper {
    position: relative;
    margin: auto;
    width             : 650px;
    height            : 260px;
    background        : white;
    border-radius: 23px; 
}

#uploadImgInputRef {
    position        : relative;
    margin-top: 10px;
    width           : 660px;
    height          : 200px;
    background        : white;
    border          : dashed 2px lightgray;
}

#uploadImgInputRef:hover {
    cursor : pointer;
    opacity: 0.5;
}

#uploadImgIcon {
    position: absolute;
    top: 24%;
    left: 43%;
    color: gray;
    margin: auto;
    font-size: 80px
}

.uploadImgTxt {
    position: absolute;
    top: 68%;
    left: 31%;
}

#outputImg {
    width : 400px;
    height: 400px;
}

/* .predictionsList {}

.predictionsListItem {} */